.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  a,
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: 0.1s;
    cursor: pointer;
    background-color: #303753;
    border-radius: 0.2rem;
    height: 40px;
    width: 40px;

    &:global(.active) {
      background-color: var(--background-color);
      box-shadow: 0 0 0 3px #b0cfff;
      border-color: var(--main-color);

      svg > * {
        fill: var(--main-color);
      }
    }

    &:hover,
    &:focus {
      background: var(--background-color);
      box-shadow: 0 0 0 3px #303753;
      border-color: var(--secondary-color);
      outline: none;
    }
  }
}

.mobileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  padding: 0px;
  cursor: pointer;
  background-color: #303753;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  color: #fbf8f3;

  &::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    background: currentColor;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: 0.3s;
  }

  &:hover,
  &:focus,
  &.mobileButtonOpen {
    background: var(--background-color);
    box-shadow: 0 0 0 3px #303753;
    border-color: var(--secondary-color);
    outline: none;
    color: var(--main-color);
  }

  &.mobileButtonOpen::after {
    transform: rotate(-90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
  }
}

.mobileNav {
  display: block;
  position: absolute;
  top: 85px;
  right: 0px;
  padding: 0 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;

  a,
  button {
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    cursor: pointer;

    &:hover svg > * {
      fill: var(--main-color);
      color: var(--main-color);
    }
  }

  button {
    border-bottom: none;
    color: var(--secondary-color);
  }

  svg {
    margin-right: 0.5rem;
  }

  &.mobileNavOpen {
    transition: 0.2s;
    transform: initial;
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
  }
}
