.deletarBtn {
  background: #2b384d;
  padding: 0.3rem 0.6rem;
  line-height: 1;
  color: var(--secondary-color);
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.1s;

  &:focus,
  &:hover {
    outline: none;
    background-color: #394b66;
    box-shadow: 0 0 0 3px #557099;
    border-color: var(--primary-color);
  }
}
